version: '3'

services:

  mariadb:
    build: ./requirements/mariadb
    container_name: ma
    env_file:
      - ../.env
    volumes:
      -  /home/abahaded/data/db:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wo
    depends_on:
      - mariadb
    env_file:
      - ../.env
    volumes:
      - /home/abahaded/data/wp:/var/www/wordpress
    networks:
      - inception
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    depends_on:
      - wordpress
    env_file:
      - ../.env
    volumes:
      - /home/abahaded/data/wp:/var/www/wordpress
    networks:
      - inception
    restart: always

  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - inception

  ftp:
    build: ./requirements/bonus/vsftpd
    container_name: ftp
    restart: always
    env_file: ../.env
    ports:
      - "21:21"
      - "21100-21110:21100-21110" 
    volumes:
      - /home/abahaded/data/wp:/var/www/wordpress
    networks:
      - inception

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    networks:
      - inception

  website:
    build: ./requirements/bonus/website
    container_name: website
    restart: always
    ports:
      - "8000:8000"
    networks:
      - inception

  portainer:
    build: ./requirements/bonus/portainer
    container_name: portainer
    restart: always
    ports:
      - "9443:9443"
    volumes:
      # The "Eye": Lets Portainer see your Docker system
      - /var/run/docker.sock:/var/run/docker.sock
      # The "Brain": Saves your admin password/settings so they aren't lost on restart
      - /home/abahaded/data/portainer_data:/data
    networks:
      - inception
networks:
  inception:
    driver: bridge